.typing-prompter {
  width: fit-content;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-family: 'Oswald';
  letter-spacing: 0.33em;
  font-weight: 300;
  font-size: 30px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



