.configuration-table-head{
    background: transparent !important;
    font-family: 'Montserrat';
    letter-spacing: 0.13em;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #000000 !important;
}

.modal-view-neo-text{
    font-size: 19px !important;
    margin-bottom: 6px !important;
    letter-spacing: 0.13em !important;
}