.context-table-head{
    background: transparent !important;
    font-family: 'Montserrat';
    letter-spacing: 0.13em;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #000000 !important;
}

.context-table-badge{
    background-color: #000000 !important;
    font-size: 12px !important;
}